/* @region-start - all browser popups */
*:has( >menupopup ) {
  border-radius: 0 !important;
}

/* extensions menu minimal mode */
#unified-extensions-view *:is( .panel-header, .panel-description ) {
  display: none !important;
}

#unified-extensions-view * {
  border-radius: 3px !important;
}

@property --n {
  syntax: "<color>";
  inherits: false;
  initial-value: #c0ffee;
}


@keyframes anim {
  0% {
    --n: #f00;
  }
  16% {
    --n: #ff0;
  }
  33% {
    --n: #0f0;
  }
  53% {
    --n: #0ff;
  }
  66%{
    --n: #00f;
  }
  79% {
    --n: #f0f;
  }
  100% {
    --n: #f00;
  }
}

menupopup {
  --panel-border-radius: 3px !important;
  --panel-border-color: red !important;
  --panel-background: #13121a !important;
  --background-color-canvas: #f00 !important;
  animation: anim 5s infinite;
  --panel-shadow: 0 0 var(--panel-shadow-margin) var( --n ) !important;
}

menupopup :is( menuitem, menu ) {
  background-color: transparent !important;
}

menupopup :is( menuitem, menu ):hover {
  background: #fff1 !important; 
}

.tab-preview-uri, .tab-preview-title {
  position: relative;
  padding-left: 40px;
} .tab-preview-uri {
  padding-left: 30px;
  padding-top: 5px;
}

:is( .tab-preview-uri, .tab-preview-title )::before {
  position: absolute;
  left: 0;
  top: 0;
  content: 'url:';
  padding: 0px 5px !important;
  
  border-radius: 3px;
  margin-top: 5px;
  
  background: #0007;
  color: #fff7;
  margin-right: 5px;
}

.tab-preview-title::before { content: 'title:'; margin-top: 0px; }

.tab-preview-text-container {
  background: #fff0 !important;
  backdrop-filter: blur( 10px ) !important;
}

*[part="content"] {
  display: flex;
  box-sizing: border-box;
  padding: var(--panel-padding);
  color: var(--panel-color);
  background: #0a0a0a !important;
  border-radius: 3px !important;
  border: 1px solid #13121a !important;
  width: var(--panel-width);
  box-shadow: var(--panel-shadow);
  margin: var(--panel-shadow-margin);
  min-width: 0;
  min-height: 0;
  max-height: round(up, 100% - 2 * var(--panel-shadow-margin), 1px);
  max-width: round(up, 100% - 2 * var(--panel-shadow-margin), 1px);
  overflow: clip;
}

.tab-preview-thumbnail-container {
  padding: 7px !important;
  & canvas{
    width: 100%;
    border-radius: 3px;
  }
}
/* @region-end */